@font-face {
  font-family: ubuntu;
  src: url(./fonts/Ubuntu-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: ubuntu, Geneva, Tahoma, sans-serif;
  height: 100%;
  background-image: url(./imgs/snowy.jpg);
  background-repeat: no-repeat;
  background-color: #bbbbbb;
  background-size: cover;
  width: 100%;
  padding: 0;
  color: #343434;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 1.2em;
  border: none;
  background-color: #898989;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}
button:hover {
  background-color: #787878;
}
button.selected {
  background-color: #676767;
}
input:focus {
  outline: none;
}
.input-container {
  text-align: center;
}

.input-field {
  display: grid;
  width: auto;
  align-items: stretch;
  padding: 16px;
  justify-content: center;
}

.search-button {
  grid-column: 2;
}
.error-msg {
  background-color: #aa2323;
  display: none;
  grid-column: span 2;
  padding: 16px 8px;
  animation-name: fadeIn;
  animation-duration: 500ms;
}
.input {
  border: none;
  background-color: #343434;
  font-size: 1.2em;
  color: #fefefe;
  padding: 16px 32px;
}

.info-container {
  display: grid;
  justify-content: center;
}

.temp {
  font-size: 5em;
}

.unit-container {
  display: flex;
  justify-content: center;
}

.font-large {
  font-size: 3em;
}

.font-medium {
  font-size: 2em;
}

.weather-info {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  align-items: center;
  gap: 32px;
}
.weather-info > .grid-right {
  text-align: end;
  grid-column: -1;
}

.weather-icon {
  font-size: 4em;
  margin: 16px 0;
}

.daily-weather-container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.hoverable {
  cursor: pointer;
}
.day-card {
  text-align: center;
  padding: 22px 8px 16px 8px;
  border-radius: 4px;
  width: 13%;
  justify-items: center;
  background-color: #87878766;
  animation-name: fadeIn;
  animation-duration: 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    background-color: inherit;
  }
  100% {
    opacity: 1;
    background-color: #87878766;
  }
}
.day {
  margin: 0;
  overflow: hidden;
}
.temperature {
  font-size: 1.3em;
  margin: 0;
}
